# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Datos grandes
data/
*.csv
*.parquet
*.zip

# Kaggle credentials
kaggle.json

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/